@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
  }

body {
    background-color: #24252A;
}

a {
    text-decoration: none; 
    color: inherit;
}


.CourseDiscription9, .CourseDiscription10, .CourseDiscription11, .CourseDiscription12, .CourseDiscriptionSpecial {
    font-size: 120%;
}

.title-page-img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-page-content {
    display: block;
}
 
.title-page-btn {
    text-align: center;
    position:absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 50px;
    text-align: center;
    font-size: .9rem;
    text-decoration: none;
    background-color: rgb(12, 157, 58);
    color: rgb(255, 255, 255);
}

.me {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    color: white;
}
.title-page-btn:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

  
.page {
    display: none;
}

/* NavBar */
table {
    background-color: #24252A;
    color:rgb(255, 255, 255);
    position: fixed;
    height: 40px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    z-index:1
}

.title {
    padding-left: 5%;
}
.vpci {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(19, 76, 141);
}
img {
    margin: 2px;
    padding: none;
}
.list {
    padding-left: 25%;
    
}

.btn-section {
    padding-left: 1%;
}

.contact-btn {
    background-color: rgb(19, 76, 141);
    color: #fff;
    border: none;
    width: 66px;
    height: 61%;
    border: 2px solid black;
    border-color:  #24252A;
}
.contact-btn:hover {
    background-color: #24252A ;
    color: white;
    border-color: rgb(19, 76, 141);
  }
.menu-btn {
    background-color: rgb(19, 76, 141);
    color: #fff;
    border: none;
    width: 66px;
    height: 61%;
    display: none;
    margin: 0 px;
    border: 2px solid black;
    border-color:  #24252A;
}
.dropdown {
    display: none;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    background-color: #24252A;
    box-shadow: 0px 10px 10px 0px #24252A;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    font-size: 12px;
    border: rgb(19, 76, 141);
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }

.menu-btn:hover {
    background-color: #24252A;
    color: white;
    border-color: rgb(19, 76, 141);
  }
.menu-section {
    padding-left: 6.55%;
    
}
ul {
    list-style-type: none;
}
li {
    color:rgba(255, 255, 255, 0.384);
    display: inline-block;
    margin: 0 13px;
}
li:hover {
    color: #fff;
}

@media only screen and (max-width: 1225px) {
    ul {
        display: none;
    }
    .menu-btn {
        display: block;
    }
    .dropdown {
        display: block;
    }
}

/* NavBar */
/* header */
.header {
    color: #ffffff;
    background-color:   #24252A;
    height: 100vh;
}

.header-box {
    float: left;
    transform: translateY(110%);
    padding-left: 8%;
}

.titleHeader {
    font-size: 4.5rem;
}

.box-one-paragraph {
    margin: 1rem 0;
    width: 70%;
    max-width: 500px;
    line-height: 1.5rem;
}
.learn-more-btn {
    padding: 10px 20px;
    border-radius: 50px;
    text-align: center;
    font-size: .9rem;
    text-decoration: none;
    background-color: rgb(19, 76, 141);
    color: rgb(255, 255, 255);
}
.learn-more-btn:hover {
    background-color: #24252A;
    color: rgb(255, 255, 255);
  }

.into-imgs {
    position: absolute;
    top: 20%;
    height: 420px;
    width: 420px;
    left: 70%;
}

.dot {
    height: 270px;
    width: 270px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 67%;
    right: 39%;
}
.tdsb {
    height: 270px;
    width: 270px;
    position: absolute;
    top: 30%;
    left: 43%;
}
.blueprint {
    height: 270px;
    width: 270px;
}

.schoolIcon {    
    height: 250px;
    width: 250px;
    position: absolute;
    top: 69%;
    right: 40%;
}

@media only screen and (max-width: 1305px) {
    .into-imgs {
        position: absolute;
        top: 25%;
        height: 400px;
        width: 400px;
        left: 60%;
    }
}

@media only screen and (max-width: 1225px) {
    .titleHeader {
        font-size: 60px;
    }
    .into-imgs {
        display: none;
    }
    .header-box {
        float: left;
        transform: translateY(0);
        padding: 15%;
    }
}

/* firstBox */
.firstBox {
    background-color:  rgb(19, 76, 141);
    height: 100vh;
    width: 100%;

}

.firstBox-title {
    font-size: 50px;
    position: absolute;
    top: calc(125% - 125px);
    left: calc(11% - 11px);
    color: #fff;
} 
.grade {
    position: absolute;
    top: calc(140% - 140px);
    left: calc(13% - 13px);
    border: #24252A;
    color: #fff;
}

@media only screen and (max-width:670px) {
    .grade {
        left: calc(62% - 62px);
    }
}

/* toggle */
.switch {
    position: absolute;
    top: calc(144% - 144px);
    left: calc(11% - 11px);
    display: inline-block;
    width: 60px;
    height: 34px;
    
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #24252A;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #24252A;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

@media (max-width:670px){
    .switch {
        left: calc(55% - 55px);
    }
}
/*control area */
.controls {
    position: absolute;
    top: calc(150% - 150px);
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}
  
.controls button {
    padding: 16px;
    border: none;
    font-size: 1.8rem;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease;
}

.controls div {
    background-color: #24252a;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    height: 50vh;
    margin: 1rem;
    position: relative;
    width: 80%;
}
  
.controls button:hover {
    background-color: rgba(0, 0, 0, 0.474);
}
/* secondBox */
.secondBox {
    background-color:  #24252A;
    height: 100vh;
    width: 100%;
}


.secondBox-title {
    font-size: 50px;
    position: absolute;
    top: calc(245% - 245px);
    left: calc(11% - 11px);
    color: #fff;
}

.gradeS {
    position: absolute;
    top: calc(256% - 256px);
    left: calc(13% - 13px);
    border: #24252A;
    color: #fff;
}

@media only screen and (max-width:670px) {

    .gradeS {
        top: calc(253% - 253px);
        left: calc(62% - 62px);
    }

    .CourseDiscriptionSpecial {
        font-size: 60%;
    }
}

.controls-2 {
    position: absolute;
    top: calc(271% - 271px);
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

  
.controls-2 button {
    padding: 16px;
    border: none;
    font-size: 1.8rem;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease;
}

.controls-2 div {
    background-color: rgb(19, 76, 141);
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    height: 50vh;
    margin: 1rem;
    position: relative;
    width: 80%;
}
  
.controls-2 button:hover {
    background-color: rgba(0, 0, 0, 0.474);
}


/* toggle for box2*/
.switch-2 {
    position: absolute;
    top: calc(244% - 144px);
    left: calc(11% - 11px);
    display: inline-block;
    width: 60px;
    height: 34px;
    
  }
  
  .switch-2 input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider-2 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(19, 76, 141);
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider-2:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider-2 {
    background-color: rgb(19, 76, 141);
}
  
input:focus + .slider-2 {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider-2:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */
.slider-2.round {
    border-radius: 34px;
}
  
.slider-2.round:before {
    border-radius: 50%;
}

@media (max-width:670px){
    .switch-2 {
        left: calc(55% - 55px);
    }
}


/* thirdBox */
.thirdBox {
    background-color: rgb(19, 76, 141);
    height: 100vh;
    width: 100%;
}


.thirdBox-title {
    font-size: 50px;
    position: absolute;
    top: calc(360% - 360px);
    left: calc(11% - 11px);
    color: #fff;
}


.controls-3 {
    position: absolute;
    top: calc(378% - 378px);
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}
  
.controls-3 button {
    padding: 16px;
    border: none;
    font-size: 1.8rem;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease;
}

.controls-3 div {
    background-color: #24252A;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    height: 50vh;
    margin: 1rem;
    position: relative;
    width: 80%;
}
  
.controls-3 button:hover {
    background-color: rgba(0, 0, 0, 0.474);
}


/* .fourthBox */
.fourthBox {
    text-align: center;
    background-color: #24252A;
    height: 100vh;
    width: 100%;
}

.fourthBox-title {
    font-size: 50px;
    position: absolute;
    top: calc(480% - 480px);
    left: calc(50% - 50px);
    color: #fff;
}

.controls-4 {
    position: absolute;
    top: calc(500% - 500px);
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}
  
.controls-4 button {
    padding: 16px;
    border: none;
    font-size: 1.8rem;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease;
}

.controls-4 div {
    background-color: #24252A;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    height: 50vh;
    margin: 1rem;
    position: relative;
    width: 80%;
}
  
.controls-4 button:hover {
    background-color: rgba(0, 0, 0, 0.474);
}

.wrapper {
    padding: 100px;
  }
  
.image--cover {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 20px;
  
    object-fit: cover;
    object-position: center right;
}

/* footer */
.footer{
    background:#24252A;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
}
    
.footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
}
    
.footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
}
    
.footer .row a:hover{
    color:#fff;
}
    
.footer .row ul{
    width:100%;
}
    
.footer .row ul li{
    display:inline-block;
    margin:0px 30px;
}
    
.footer .row a i{
    font-size:2em;
    margin:0% 1%;
}
    
@media (max-width:720px){
    .footer{
        text-align:center;
        padding:5%;
    }
    .footer .row ul li{
        display:block;
        margin:10px 0px;
        text-align:left;
    }
    .footer .row a i{
        margin:0% 3%;
    }

    .image--cover {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 16%;
      
        object-fit: cover;
        object-position: center;
    }
}

@media (max-width:900px){
    .controls-4 {
        position: absolute;
        top: calc(480% - 480px);
        align-items: center;
    }

    .image--cover {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 16%;
      
        object-fit: cover;
        object-position: center;
    }

    .fourthBox-title {
        font-size: 50px;
        position: absolute;
        top: calc(470% - 470px);
        left: calc(50% - 50px);
        color: #fff;
    }
}

  